body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.largeheading {
    font-family: 'Montserrat';
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
}

.container-fluid {
    padding: 3% 15%;
}

/* navigation bar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
}

/* buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */

.iphone {
    width: 60%;
    transform: rotate(25deg);
    margin-bottom: -60%;
    position: absolute;
    right: 20%;
    top: 20%;
}
.collo{
   position: relative;
}
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
  
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {

    background-color: #ef8172;
    text-align: center;
    color: #fff;
}
.testimonial-text {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.5;
}
.text-images {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 8% 15%;
    padding-bottom: 3%;
}
.cta-head{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #fff;
    font-size: 2.5rem;
}
#footer{
 text-align: center;
 padding: 5% 15% 5%;
}
@media (max-width:1020px ) {
    #title{
        text-align: center;
    }
    .iphone{
        position:static ;
        transform: rotate(0);
    }
    .collo{
        position: static;
    }
    .features{
        position: static;
    }
    }
    .cs{
        padding: 20px 10px;
    }